body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #e0e0e0;
}

.container {
    display: flex;
}

.side-bar {
    flex: 0.75;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.side-bar-list {
    list-style-type: none;
    margin-bottom: 20px;
}

.main-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 25%;
}

.main-header {
    font-size: 70px;
    margin: 0; /* Reset margin */
}

.sub-title {
    font-size: 35px;
    margin-bottom: 10px; /* Adjust as needed */
}

.introduction {
    font-size: 18px;
}

.experience-heading {
    font-size: 35px;
}

.experience-entry ul {
    margin-top: 10px;
}

.experience-entry li {
    margin-bottom: 10px;
}
